body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
article {
    margin: 5px;
}
h1 {
    text-align: center;
}

ul { 
    display: flex;
    flex-wrap: wrap;
    
}

li{
    text-align: center;
}